{
  "smarthome": {
    "name": "Smart home",
    "timezone": "Europe/Brussels",
    "locations": "Ghent, BE"
  },
  "firebase": {
    "type": "",
    "project_id": "",
    "private_key_id": "",
    "private_key": "",
    "client_email": "",
    "client_id": "",
    "auth_uri": "",
    "token_uri": "",
    "auth_provider_x509_cert_url": "",
    "client_x509_cert_url": "",
    "database_url": ""
  },
  "mqtt": {
    "type": "external",
    "host": "",
    "port": ,
    "username": "",
    "password": ""
  },
  "ifttt": {
    "api_key": ""
  },
  "sensors": [
    {
      "id": "temperature",
      "platform": "firebase",
      "type": "temperature",
      "value": "0",
      "config": {
        "path": "temperature"
      }
    },
    {
      "id": "humidity",
      "platform": "firebase",
      "type": "humidity",
      "value": "0",
      "config": {
        "path": "humidity"
      }
    },
    {
      "id": "thermostat",
      "platform": "firebase",
      "type": "thermostat",
      "value": "19",
      "config": {
        "path": "thermostat"
      }
    }
  ],
  "devices": [
    {
      "id": "shaun-bureaulamp",
      "name": "Desk lamp",
      "type": "light",
      "platform": "mqtt",
      "config": {
        "topic": "shaun/desklamp"
      }
    },
    {
      "id": "shaun-nightlight",
      "name": "Night light",
      "type": "light",
      "platform": "mqtt",
      "config": {
        "topic": "shaun/nightlicht"
      }
    },
    {
      "id": "shaun-outlet1",
      "name": "Outlet 1",
      "type": "outlet",
      "platform": "rf433",
      "config": {
        "on_code": "",
        "off_code": ""
      }
    },
    {
      "id": "shaun-outlet2",
      "name": "Outlet 2",
      "type": "outlet",
      "platform": "rf433",
      "config": {
        "on_code": "",
        "off_code": ""
      }
    },
    {
      "id": "livingroom-outlet1",
      "name": "Outlet 1",
      "type": "outlet",
      "platform": "mqtt",
      "config": {
        "topic": "livingroom/outlet1"
      }
    },
    {
      "id": "livingroom-outlet2",
      "name": "Outlet 2",
      "type": "outlet",
      "platform": "mqtt",
      "config": {
        "topic": "livingroom/outlet2"
      }
    },
    {
      "id": "shaun-blinds",
      "name": "Blinds",
      "type": "blinds",
      "platform": "mqtt",
      "config": {
        "topic": "shaun/blinds"
      }
    },
    {
      "id": "thermostat",
      "name": "thermostat",
      "type": "thermostat",
      "platform": "mqtt",
      "config": {
        "topic": "thermostat"
      }
    }
  ],
  "rooms": [
    {
      "id": "shaun",
      "name": "Shaun's room",
      "order": 0,
      "devices": [
        "shaun-bureaulamp",
        "shaun-nightlight",
        "shaun-outlet1",
        "shaun-outlet2",
        "shaun-blinds"
      ]
    },
    {
      "id": "livingroom",
      "name": "Living room",
      "order": 1,
      "devices": [
        "livingroom-outlet1",
        "livingroom-outlet2"
      ]
    }
  ]
}
